# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IDE specific files
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Secrets
.env
.vscode/launch.json
lib/core/services/gemini_service.dart

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Temporary and analysis files
analysis*.txt
analysis.json
build_log.txt
out.txt

# Platform folders (not used)
/linux/
/macos/
/windows/
/web/

# Android build artifacts
/android/app/debug
/android/app/profile
/android/app/release
/android/build/